<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group label-floating">
        <label class="control-label">first name</label>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group label-floating">
        <label class="control-label">last name</label>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group label-floating">
        <label class="control-label">email</label>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group label-floating">
        <label class="control-label">mobile phone number</label>
        <%= f.text_field :cellphone, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group label-floating">
        <label class="control-label">street address</label>
        <%= f.text_field :street_address, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group label-floating">
        <label class="control-label">city</label>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group label-floating">
        <label class="control-label">province</label>
        <%= f.text_field :province, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group label-floating">
        <label class="control-label">postal code</label>
        <%= f.text_field :postal_code, class: 'form-control' %>
      </div>
    </div>
  </div>
  <h5>Password change
    <p class="category">
      fill in below only if you want to change your password
    </p>
  </h5>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group label-floating">
        <label class="control-label">new password</label>
        <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group label-floating">
        <label class="control-label">enter new password again</label>
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
      </div>
    </div>
  </div>
  <h5>Confirm changes
    <p class="category">
      enter your current password below to confirm your changes
    </p>
  </h5>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group label-floating">
        <label class="control-label">current password</label>
        <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
      </div>
    </div>
  </div>
  <%= f.submit 'Update profile', class: 'btn btn-rose pull-right' %>
<% end %>
