<%= form_for @memory_verse do |form| %>
  <% if @memory_verse.errors.any? %>
    <h2><%= pluralize(@memory_verse.errors.count, "error") %> need to be corrected to proceed.</h2>
    <ul>
      <% @memory_verse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <label class="col-md-3 label-on-left">Verse Reference</label>
    <div class="col-md-9">
      <div class="form-group label-floating is-empty">
        <label class="control-label"></label>
        <%= form.text_field :reference, id: :memory_verse_reference, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 label-on-left">Verse Text</label>
    <div class="col-md-9">
      <div class="form-group label-floating is-empty">
        <label class="control-label"></label>
        <%= form.text_field :verse, id: :memory_verse_verse, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 label-on-left">Verse Date</label>
    <div class="col-md-9">
      <div class="form-group label-floating is-empty">
        <label class="control-label"></label>
        <%= form.text_field :verse_date, id: :memory_verse_verse_date, class: 'form-control', value: (@memory_verse.verse_date.strftime('%B %e, %Y') if @memory_verse.verse_date) %>
      </div>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 label-on-left"></label>
    <div class="col-md-9">
      <div class="form-group form-button">
        <%= form.submit @memory_verse.new_record? ? "Add Verse" : "Update Verse", class: 'btn btn-fill btn-rose' %>
      </div>
    </div>
  </div>
<% end %>
