<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Latest Announcements
          <p class="category">
            <%= link_to 'see all announcements', announcements_path %>
          </p>
        </h3>
      </div>
      <div class="card-content">
        <div class="table-responsive">
          <table class="table table-shopping">
            <thead>
              <tr>
                <th class="th-description">Announcement</th>
                <th class="th-description">Details</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if @user.followed_announcements.count == 0 %>
                <tr>
                  <td>No new announcements in ministries you follow</td>
                  <td></td>
                  <td></td>
                <% end %>
                </tr>
              <% @user.followed_announcements.take(5).each do |announcement| %>
                <tr>
                  <td>
                    <b><%= announcement.subject %></b>
                  </td>
                  <td>
                    <%= announcement.text %>
                  </td>
                  <td>
                    <% if policy(announcement).update? %>
                      <%= link_to 'edit', edit_announcement_path(announcement) %> | 
                      <%= link_to 'delete', announcement, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
