<div class="wrapper sidebar-mini">
  <%= render 'layouts/sidebar' %>
  <div class="main-panel">
    <%= render 'layouts/dashboard_nav' %>
    <div class="content">
      <div class="container-fluid">
        <% if current_user.admin? %>
          <%= render 'db_admin_panel' %>
        <% end %>
        <%= render 'db_memory_verses' %>
        <%= render 'db_announcements' %>
        <%= render 'db_events' %>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </div>
</div>
