<div class="col-md-4">
  <div class="card card-product">
    <div class="card-image" data-header-animation="false">
      <%= link_to image_tag('card-2.jpeg'), event_path(event), class: 'img' %>
    </div>
    <div class="card-content")>
      <h4 class="card-title">
        <%= link_to event.name, event_path(event) %>
      </h4>
      <div class="card-description">
        <%= event.description %>
      </div>
    </div>
    <% if policy(event).update? %>
      <div class="card-footer">
        <div class="stats">
          <p class="category">
            <%= link_to 'edit', edit_event_path(event) %> | 
            <%= link_to 'delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
