<%= form_for @ministry do |f| %>
  <% if @ministry.errors.any? %>
    <h2><%= pluralize(@ministry.errors.count, "error") %> need to be corrected to proceed.</h2>
    <ul>
      <% @ministry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <label class="col-md-3 label-on-left">Ministry Name</label>
    <div class="col-md-9">
      <div class="form-group label-floating is-empty">
        <label class="control-label"></label>
        <%= f.text_field :name, id: :ministry_name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 label-on-left">Ministry Description</label>
    <div class="col-md-9">
      <div class="form-group label-floating is-empty">
        <label class="control-label"></label>
        <%= f.text_field :description, id: :ministry_description, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-md-offset-3">
    <h5>Add authorized editors to the ministry here
      <p class="category">
        You can skip this if you don't wish to add any editors
      </p>
    </h5>
  </div>
  <div id="ministry_editors">
    <%= f.fields_for :ministry_editors do |ministry_editor| %>
      <%= render 'ministry_editor_fields', :f => ministry_editor %>
    <% end %>
    <div class='row'>
      <div class='links'>
        <% if @ministry.new_record? %>
          <%= link_to_add_association 'Add Ministry Editor', f, :ministry_editors, class: 'col-md-4 col-md-offset-8' %>
        <% else %>
          <%= link_to_add_association 'Add Additional Ministry Editor', f, :ministry_editors, class: 'col-md-4 col-md-offset-8' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 label-on-left"></label>
    <div class="col-md-9">
      <div class="form-group form-button">
        <%= f.submit @ministry.new_record? ? "Add Ministry" : "Update Ministry", class: 'btn btn-fill btn-rose' %>
      </div>
    </div>
  </div>
<% end %>
