<div class="off-canvas-sidebar">
  <%= render 'layouts/header' %>
  <div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="black" data-image="<%= image_path('login.jpg') %>">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="card card-login card-hidden">
                  <div class="card-header text-center" data-background-color="rose">
                    <h4 class="card-title">Sign In</h4>
                  </div>
                  <div class="card-content">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">email</i>
                      </span>
                      <div class="form-group label-floating">
                        <label class="control-label">Email address</label>
                        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">lock_outline</i>
                      </span>
                      <div class="form-group label-floating">
                        <label class="control-label">Password</label>
                        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                  <div class="footer text-center">
                    <%= f.submit "Sign in", class: 'btn btn-rose btn-simple btn-wd btn-lg' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
