<p id="notice"><%= notice %></p>

<h1>User Ministries</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ministry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_ministries.each do |user_ministry| %>
      <tr>
        <td><%= user_ministry.user %></td>
        <td><%= user_ministry.ministry %></td>
        <td><%= link_to 'Show', user_ministry %></td>
        <td><%= link_to 'Edit', edit_user_ministry_path(user_ministry) %></td>
        <td><%= link_to 'Destroy', user_ministry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Ministry', new_user_ministry_path %>
